
    <div class="card">
      <h5 class="card-header">Registro Jugador</h5>
      <div class="card-body">
          <form class="container" #PersonaForm='ngForm' (ngSubmit)="onSubmit(PersonaForm)">
              <div class="form-group">
                <label for="Nombre">Nombre</label>
                <input class="form-control" name="Nombre" [(ngModel)]="Nombre" placeholder="Ingresa tu nombre" >
              </div>
              <div class="form-group">
                <label for="Nombre">Apellido</label>
                <input class="form-control" name="Apellido" [(ngModel)]="Apellido" placeholder="Ingresa tu nombre">
              </div>
              <div class="form-group">
                <label for="Nombre">Edad</label>
                <input class="form-control" name="Edad" [(ngModel)]="Edad" placeholder="Ingresa tu nombre">
              </div>
              
              <div class="container">
                <div class="row">
                      <div class="col-sm">
                          <footer class="blockquote-footer">Tu contraseña es secreta jamás la reveles</footer>
                        </div>
                        <div class="col-sm">
                            
                        </div>
                        <div class="col-sm">
                            <button type="submit" class="btn btn-primary left btn-block" >Aceptar</button>
                        </div>
                </div>
                  
              </div>
              
            </form>
           
      </div>
    </div>


